<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link href="{{ url_for('static', filename='css/prism.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='font/iconfont.css')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js')}}" async=""></script>
        <script src="https://kit.fontawesome.com/bb101ec5de.js" crossorigin="anonymous"></script>
        
        <title>Kubeconfig Generator</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.png') }}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>