{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='/js/prism.js')}}"></script>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card-header">
            <h1>Ваш config-файл для <code class="language-bash">kubectl</code>:</h1>
                <pre class="language-yaml"><code class="language-yaml">{% block kubeconf %}
                    {% endblock kubeconf %}</code></pre>
            <h2>Linux</h2><br>
                    Если у вас не установлен <b>kubectl</b> - предварительно установите его, выполнив команду: 
                    <pre><code class="language-bash">curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
kubectl version --client</code></pre>
                        Затем скопируйте сгенерированый файл и сохраните его в <code class="language-bash">~/.kube/config</code>
        </div>
    </div>
</div>
{% endblock content %}